<h1 mat-dialog-title>{{ data?.header || 'Title' }}</h1>
<div mat-dialog-content fxLayout="column" [ngStyle]="{ height: '450px'}">
  <div fxLayout="column" fxLayoutAlign="space-between" [formGroup]="formGroup">
    <mat-form-field class="w-100" appearance="outline">
      <input placeholder="name" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <input type="number" placeholder="duration" matInput formControlName="duration">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <span>Appointment Type color</span>
      <input [style.background]="formGroup.get('color').value"
             [colorPicker]="formGroup.get('color').value"
             (colorPickerChange)="colorChange($event)" />
    </div>
    
  </div>
</div>

<div mat-dialog-actions fxLayoutAlign="end center">
  <button (click)="onCancel()" mat-raised-button color="warn">Cancel</button>
  <button [disabled]="!formGroup?.valid" (click)="onSave()" mat-raised-button color="accent">Save</button>
</div>
