<div class="h-100">
  <mat-accordion>
    <mat-expansion-panel class="accordion-background" hideToggle *ngFor="let academicTitle of (academicTitles$ | async)">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" class="h-100" fxLayoutAlign="space-between center">
          <span>{{ academicTitle?.name }}</span>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
            <button mat-raised-button (click)="onEdit(academicTitle); $event.stopPropagation()" color="accent">Edit</button>
            <button mat-raised-button (click)="onDelete(academicTitle); $event.stopPropagation()" color="warn">Delete</button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="w-100 mt-3" fxLayoutAlign="end center">
  <button mat-button (click)="onCreate()">Create</button>
</div>

